In [24]:
import pandas as pd
import numpy as np
import seaborn as sns 

import matplotlib.pyplot as plt 
import plotly.express as px #data-visualization
import openpyxl
import warnings
warnings.filterwarnings("ignore") # additional

In [27]:
df_athletes = pd.read_excel ("E:\py proj\Tokyo Olympics Data Analysis\Athletes.xlsx")
df_coaches = pd.read_excel ("E:\py proj\Tokyo Olympics Data Analysis\Coaches.xlsx")
df_entriesGender = pd.read_excel("E:\py proj\Tokyo Olympics Data Analysis\EntriesGender.xlsx")
df_medals = pd.read_excel("E:\py proj\Tokyo Olympics Data Analysis\Medals.xlsx")
df_teams = pd.read_excel("E:\py proj\Tokyo Olympics Data Analysis\Teams.xlsx")

In [ ]:
## Athletes data analysis finding

In [40]:
df_athletes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11085 entries, 0 to 11084
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11085 non-null  object
 1   NOC         11085 non-null  object
 2   Discipline  11085 non-null  object
dtypes: object(3)
memory usage: 259.9+ KB

Name          0
NOC           0
Discipline    0
dtype: int64

In [73]:
df_athletes.shape

(11085, 3)

In [41]:
df_athletes.isnull().sum()

Name          0
NOC           0
Discipline    0
dtype: int64

In [42]:
df_athletes.describe()

             Name                       NOC Discipline
count       11085                     11085      11085
unique      11062                       206         46
top     ZHANG Xin  United States of America  Athletics
freq            2                       615       2068

In [46]:
df_athletes.nunique()

Name          11062
NOC             206
Discipline       46
dtype: int64

In [ ]:
## Coaches data analysis finding

In [30]:
df_coaches.head()

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  Côte d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN

In [43]:
df_coaches.describe()

                         Name    NOC  Discipline Event
count                     394    394         394   249
unique                    381     61           9     6
top     GIALLOMBARDO Patrizia  Japan  Basketball   Men
freq                        2     35          74    94

In [44]:
df_coaches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        394 non-null    object
 1   NOC         394 non-null    object
 2   Discipline  394 non-null    object
 3   Event       249 non-null    object
dtypes: object(4)
memory usage: 12.4+ KB

In [45]:
df_coaches.isnull().sum()

Name            0
NOC             0
Discipline      0
Event         145
dtype: int64

In [47]:
df_coaches.nunique()

Name          381
NOC            61
Discipline      9
Event           6
dtype: int64

In [ ]:
## entriesGender data analysis finding

In [31]:
df_entriesGender.head()

            Discipline  Female  Male  Total
0       3x3 Basketball      32    32     64
1              Archery      64    64    128
2  Artistic Gymnastics      98    98    196
3    Artistic Swimming     105     0    105
4            Athletics     969  1072   2041

In [49]:
df_entriesGender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Discipline  46 non-null     object
 1   Female      46 non-null     int64
 2   Male        46 non-null     int64
 3   Total       46 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.6+ KB

In [50]:
df_entriesGender.describe()

           Female         Male       Total
count   46.000000    46.000000    46.00000
mean   118.086957   127.913043   246.00000
std    147.169717   166.900746   312.46134
min     10.000000     0.000000    19.00000
25%     42.750000    40.250000    85.50000
50%     90.000000    97.500000   190.00000
75%    138.750000   149.750000   288.75000
max    969.000000  1072.000000  2041.00000

In [51]:
df_entriesGender.isnull().sum()

Discipline    0
Female        0
Male          0
Total         0
dtype: int64

In [52]:
df_entriesGender.nunique()

Discipline    46
Female        38
Male          41
Total         41
dtype: int64

In [ ]:
## medals data analysis finding

In [33]:
df_medals.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

In [53]:
df_medals.describe()

            Rank       Gold     Silver     Bronze       Total  Rank by Total
count  93.000000  93.000000  93.000000  93.000000   93.000000      93.000000
mean   46.333333   3.655914   3.634409   4.322581   11.612903      43.494624
std    26.219116   7.022471   6.626339   6.210372   19.091332      24.171769
min     1.000000   0.000000   0.000000   0.000000    1.000000       1.000000
25%    24.000000   0.000000   0.000000   1.000000    2.000000      23.000000
50%    46.000000   1.000000   1.000000   2.000000    4.000000      47.000000
75%    70.000000   3.000000   4.000000   5.000000   11.000000      66.000000
max    86.000000  39.000000  41.000000  33.000000  113.000000      77.000000

In [54]:
df_medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           93 non-null     int64
 1   Team/NOC       93 non-null     object
 2   Gold           93 non-null     int64
 3   Silver         93 non-null     int64
 4   Bronze         93 non-null     int64
 5   Total          93 non-null     int64
 6   Rank by Total  93 non-null     int64
dtypes: int64(6), object(1)
memory usage: 5.2+ KB

In [55]:
df_medals.isnull().sum()

Rank             0
Team/NOC         0
Gold             0
Silver           0
Bronze           0
Total            0
Rank by Total    0
dtype: int64

In [56]:
df_medals.nunique()

Rank             67
Team/NOC         93
Gold             14
Silver           17
Bronze           21
Total            30
Rank by Total    30
dtype: int64

In [61]:
df_medals.shape

(93, 7)

In [ ]:
## teams data analysis finding

In [34]:
df_teams.head()

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

In [57]:
df_teams.nunique()

Name          146
Discipline     20
NOC            84
Event          36
dtype: int64

In [58]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        743 non-null    object
 1   Discipline  743 non-null    object
 2   NOC         743 non-null    object
 3   Event       743 non-null    object
dtypes: object(4)
memory usage: 23.3+ KB

In [60]:
df_teams.shape

(743, 4)

In [63]:
df_teams.isnull().sum()

Name          0
Discipline    0
NOC           0
Event         0
dtype: int64

In [ ]:
### DATA VISUALIZATION

In [72]:
df_athletes.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [98]:
x = df_athletes.NOC.value_counts()
Y= df_athletes.NOC

In [99]:
x

United States of America      615
Japan                         586
Australia                     470
People's Republic of China    401
Germany                       400
                             ...
Tuvalu                          2
Marshall Islands                2
Vanuatu                         2
Brunei Darussalam               2
Bermuda                         2
Name: NOC, Length: 206, dtype: int64

In [101]:
px.bar(x[:20],Y[:20],)

In [74]:
x = df_coaches.NOC.value_counts()